@use "variables";

.event {
    padding: 80px 0;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 80%;

    }

    &__details {
        &__text {


            color: #000;

            &--big {
                font-size: 32px;

            }

            &--small {}

            &--count {
                padding-top: 16px;

                &--span {
                    font-weight: 900;
                }
            }
        }
    }

    .infos-bar {
        text-align: center;
        text-transform: uppercase;

        &__infos {
            display: flex;
            gap: 16px;

            &__item {
                background-color: variables.$corSecundaria;
                width: 150px;

                &--small {
                    font-weight: 900;
                    color: variables.$secondaryTextColor;
                }

                &--big {
                    font-size: 48px;
                    font-weight: 600;

                    &--hour {
                        font-size: 16px;
                    }
                }
            }
        }
    }


    @media (max-width: 640px) {
        text-align: center;

        .container {
            display: block;
        }

        .infos-bar {
            &__infos {
                margin-top: 16px;

                &__item {

                    &--big {
                        font-size: 36px;

                        &--hour {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 641px) and (max-width: 1024px) {
        text-align: center;

        .container {
            display: block;
        }

        &__details {
            &__text {
                &--big {
                    margin-bottom: 16px;
                }
            }
        }

        .infos-bar {
            margin-top: 24px;
            display: flex;
            justify-content: center;


        }
    }
}