@use "hero";
@use "./event";
@use "./variables";
@use "./bands";
@use "./guests";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: variables.$textColor;
    list-style: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.text-principal-color {
    color: variables.$corPrincipal;
}